streamlit==1.39.0

numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
joblib==1.4.2
matplotlib==3.9.2

# streamlit 1.39 requires rich < 14
rich>=10.14.0,<14

# pytorch for python 3.11 (avoid strict pin for cloud)
torch>=2.3,<2.4

transformers==4.41.2
tokenizers==0.19.1
safetensors>=0.4.3
sentencepiece
