streamlit==1.39.0

numpy
pandas
scikit-learn
joblib
matplotlib

torch==2.2.2
transformers==4.45.2
datasets==2.21.0
huggingface-hub>=0.24
tokenizers>=0.20.0
safetensors>=0.4.3
sentencepiece
protobuf<5
