streamlit==1.39.0

numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
joblib==1.4.2
matplotlib==3.9.2

torch==2.2.2
transformers==4.45.2
datasets==2.21.0
tokenizers==0.20.1
safetensors==0.4.5
huggingface-hub==0.26.2
sentencepiece==0.2.0
protobuf<5
